runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/
img/
*.lyrdb
.ipynb_checkpoints/
.venv
# Ignore simulation runs and setups
runs/
simulations/

# Clean simulation wildcard entries
**/*.vvp
**/*.vpp
**/*.vcd
**/runs/
**/simulations/
**/sim_data/
