# Padring for Workshop chip (2025/08/26)
# gf180mcu
# By: Juan Sebastian Moya-Baquero, D. Mitch Bailey

# Set the design name
DESIGN A66_D_padring;

# Define the total chip area in microns
# Actual available area 2.935mmx2.935mm
# The sealring occupies ??? in margin
# The available chip size is:
AREA 2935 2935; 

# Placement grid size in microns
GRID 0.005;

# Place the corners
# CORNER <instance name> <location> <cell name> ;

CORNER CORNER_1 SE gf180mcu_fd_io__cor ;
CORNER CORNER_2 SW gf180mcu_fd_io__cor ;
CORNER CORNER_3 NE gf180mcu_fd_io__cor ;
CORNER CORNER_4 NW gf180mcu_fd_io__cor ;

# Define the fillers by default
FILLER gf180mcu_fd_io__fill5 ;
BREAKFILLER gf180mcu_fd_io__brk5 ;

# Define the north edge of the pad ring
# PAD <instance name> <location> [FLIP] <cell name> ;
# # BOND <instance name> [FLIP] <cell name> ;
#
# SPACE <microns> : use fixed space between preceding and succeeding cell.
## North, left to right
#FILLER gf180mcu_fd_io__fillnc 	gf180mcu_fd_io__fill1 gf180mcu_fd_io__fill5 gf180mcu_fd_io__fill10 ;

#FILLER  gf180mcu_fd_io__fill5 ;
PAD N01 N gf180mcu_fd_io__asig_5p0 ;
PAD N02 N gf180mcu_fd_io__in_s ;
PAD N03 N gf180mcu_fd_io__in_s ;
PAD N04 N gf180mcu_fd_io__dvdd ;
PAD N05 N gf180mcu_fd_io__dvss ;
BREAK ;
PAD N06 N gf180mcu_fd_io__asig_5p0 ;
PAD N07 N gf180mcu_fd_io__asig_5p0 ;
PAD N08 N gf180mcu_fd_io__asig_5p0 ;
PAD N09 N gf180mcu_fd_io__asig_5p0 ;
PAD N10 N gf180mcu_fd_io__asig_5p0 ;
PAD N11 N gf180mcu_fd_io__asig_5p0 ;
PAD N12 N gf180mcu_fd_io__asig_5p0 ;
PAD N13 N gf180mcu_fd_io__asig_5p0 ;
PAD N14 N gf180mcu_fd_io__asig_5p0 ;
PAD N15 N gf180mcu_fd_io__asig_5p0 ;
PAD N16 N gf180mcu_fd_io__asig_5p0 ;
PAD N17 N gf180mcu_fd_io__asig_5p0 ;
PAD N18 N gf180mcu_fd_io__asig_5p0 ;
PAD N19 N gf180mcu_fd_io__asig_5p0 ;
PAD N20 N gf180mcu_fd_io__asig_5p0 ;
PAD N21 N gf180mcu_fd_io__asig_5p0 ;
PAD N22 N gf180mcu_fd_io__asig_5p0 ;


# East, bottom to top
#FILLER gf180mcu_fd_io__fillnc 	gf180mcu_fd_io__fill1 gf180mcu_fd_io__fill5 gf180mcu_fd_io__fill10 ;

#FILLER  gf180mcu_fd_io__fill5 ;
PAD E01 E gf180mcu_fd_io__asig_5p0 ;
PAD E02 E gf180mcu_fd_io__asig_5p0 ;
PAD E03 E gf180mcu_fd_io__asig_5p0 ;
PAD E04 E gf180mcu_fd_io__asig_5p0 ;
PAD E05 E gf180mcu_fd_io__asig_5p0 ;
PAD E06 E gf180mcu_fd_io__asig_5p0 ;
PAD E07 E gf180mcu_fd_io__asig_5p0 ;
PAD E08 E gf180mcu_fd_io__asig_5p0 ;
PAD E09 E gf180mcu_fd_io__asig_5p0 ;
PAD E10 E gf180mcu_fd_io__asig_5p0 ;
PAD E11 E gf180mcu_fd_io__asig_5p0 ;
PAD E12 E gf180mcu_fd_io__asig_5p0 ;
PAD E13 E gf180mcu_fd_io__asig_5p0 ;
PAD E14 E gf180mcu_fd_io__asig_5p0 ;
PAD E15 E gf180mcu_fd_io__asig_5p0 ;
PAD E16 E gf180mcu_fd_io__asig_5p0 ;
PAD E17 E gf180mcu_fd_io__asig_5p0 ;
PAD E18 E gf180mcu_fd_io__asig_5p0 ;
PAD E19 E gf180mcu_fd_io__asig_5p0 ;
PAD E20 E gf180mcu_fd_io__asig_5p0 ;
PAD E21 E gf180mcu_fd_io__asig_5p0 ;
PAD E22 E gf180mcu_fd_io__asig_5p0 ;

# South, left to right
#FILLER gf180mcu_fd_io__fillnc 	gf180mcu_fd_io__fill1 gf180mcu_fd_io__fill5 gf180mcu_fd_io__fill10 ;

#FILLER  gf180mcu_fd_io__fill5 ;
PAD S01 S gf180mcu_fd_io__asig_5p0 ;
PAD S02 S gf180mcu_fd_io__asig_5p0 ;
PAD S03 S gf180mcu_fd_io__asig_5p0 ;
PAD S04 S gf180mcu_fd_io__asig_5p0 ;
PAD S05 S gf180mcu_fd_io__asig_5p0 ;
PAD S06 S gf180mcu_fd_io__asig_5p0 ;
PAD S07 S gf180mcu_fd_io__asig_5p0 ;
PAD S08 S gf180mcu_fd_io__asig_5p0 ;
PAD S09 S gf180mcu_fd_io__asig_5p0 ;
PAD S10 S gf180mcu_fd_io__asig_5p0 ;
PAD S11 S gf180mcu_fd_io__asig_5p0 ;
PAD S12 S gf180mcu_fd_io__asig_5p0 ;
PAD S13 S gf180mcu_fd_io__asig_5p0 ;
PAD S14 S gf180mcu_fd_io__asig_5p0 ;
PAD S15 S gf180mcu_fd_io__asig_5p0 ;
PAD S16 S gf180mcu_fd_io__asig_5p0 ;
PAD S17 S gf180mcu_fd_io__asig_5p0 ;
PAD S18 S gf180mcu_fd_io__asig_5p0 ;
PAD S19 S gf180mcu_fd_io__asig_5p0 ;
PAD S20 S gf180mcu_fd_io__asig_5p0 ;
PAD S21 S gf180mcu_fd_io__asig_5p0 ;
PAD S22 S gf180mcu_fd_io__asig_5p0 ;


# West, bottom to top
#FILLER gf180mcu_fd_io__fillnc 	gf180mcu_fd_io__fill1 gf180mcu_fd_io__fill5 gf180mcu_fd_io__fill10 ;

#FILLER  gf180mcu_fd_io__fill5 ;
PAD W01 W gf180mcu_fd_io__asig_5p0 ;
PAD W02 W gf180mcu_fd_io__asig_5p0 ;
PAD W03 W gf180mcu_fd_io__asig_5p0 ;
PAD W04 W gf180mcu_fd_io__asig_5p0 ;
PAD W05 W gf180mcu_fd_io__asig_5p0 ;
PAD W06 W gf180mcu_fd_io__asig_5p0 ;
PAD W07 W gf180mcu_fd_io__asig_5p0 ;
PAD W08 W gf180mcu_fd_io__asig_5p0 ;
PAD W09 W gf180mcu_fd_io__asig_5p0 ;
PAD W10 W gf180mcu_fd_io__asig_5p0 ;
PAD W11 W gf180mcu_fd_io__asig_5p0 ;
PAD W12 W gf180mcu_fd_io__asig_5p0 ;
PAD W13 W gf180mcu_fd_io__asig_5p0 ;
PAD W14 W gf180mcu_fd_io__asig_5p0 ;
PAD W15 W gf180mcu_fd_io__asig_5p0 ;
PAD W16 W gf180mcu_fd_io__asig_5p0 ;
PAD W17 W gf180mcu_fd_io__asig_5p0 ;
BREAK ;
PAD W18 W gf180mcu_fd_io__bi_t ;
PAD W19 W gf180mcu_fd_io__bi_t ;
PAD W20 W gf180mcu_fd_io__bi_t ;
PAD W21 W gf180mcu_fd_io__bi_t ;
PAD W22 W gf180mcu_fd_io__in_s ;
